/********************Login UI changes*************************/
body{color:#373a3c;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;}
.sidebar-footer{display:none !important;}
::-webkit-input-placeholder { /* Edge */
  color: #999999;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #999999;
}

::placeholder {
  color:  #999999;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
	background:#fff !important;
}


.loginp h1{    border-bottom: 1px solid #ebebeb;
    line-height: 78px;
    margin-top: 0px;
    color: #d00256;
    font-size: 42px;}

.logintitle{margin-bottom:20px;color:#373a3c;}
h1 {
    font-size: 30px;
    font-weight: 400;
}


h2 {
    font-size: 26px;
    font-weight: 400;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}
.bookmg{font-size:24px !important;font-weight:normal;text-align: left;
    margin-left: 9px;}

.range_inputs .applyBtn, .range_inputs .cancelBtn{padding: 6px 18px;
    font-size: 12px;
    border-radius: 4px;float:right;width:60%;}
	.range_inputs .cancelBtn {
    padding: 6px 23px;float:left;width:auto;
}
#reportrange, #fnreportrange{padding-right:45px !important;}
#reportrange .caret, #fnreportrange .caret{    top: 8px;}
#reportrange:hover .caret, .reportrange:active .caret, #fnreportrange:active .caret, #fnreportrange:hover .caret{
    background: #fff url(../images/hms/droparrow_active.png) no-repeat 96% center;
}
/************************************Small Menu****************************/
.nav-sm .site_title .logo2 {display:block !important;width:50px !important;height:50px !important}
.nav-sm .bookmg{    font-size: 12px !important;
    font-weight: normal;
    margin-top: -1px;
    line-height: 19px;}
.site_title .logo {display:block;}
.site_title  .logo2{display:none;}
.nav-sm .site_title .logo{display:none;}
.title_left h2{font-weight:bold;color:#2a3f54;}
.x_title h3{font-weight:500;color:#2a3f54;float:left;width:100%;border-bottom:1px solid #E6E9ED;padding-bottom:15px;}
#enqtble_filter{    margin-top: -28px;
    margin-bottom: 10px;}
.table-striped{width:100% !important;}
.dataTables_filter label{    text-indent: 100000px;}
.dataTables_filter input[type=search]{box-shadow: none;
    border: 1px solid #ccc;
    padding: 4px 10px;
    font-weight: normal;margin-top:1px;}
	.dataTables_filter input[type=search]:active, .dataTables_filter input[type=search]:hover, .dataTables_filter input[type=search]:focus{border:1px solid #d00256;color:#000}
.dataTables_length label{color:#73879c;font-weight:500;font-size:16px;}
.dataTables_length select{padding:4px 5px;}
.dataTable button{font-size:16px;padding:10px 18px;margin-bottom:5px;}
#enqtble tr td a{margin-bottom:10px;}
.contactenquiry tr td:nth-child(3){width: 150px !important;
    word-break: break-all;}
.dataTable button.grey{background:#e6e6e6;border-color:#e6e6e6;}
.dataTable button.grey:hover, .dataTable button.grey:active, .dataTable button.grey:focus {background:#c9c9c9;border-color:#c9c9c9;}
.table>thead>tr>th{border-right:1px solid #fff;}
table.jambo_table thead{background:#2a3f54;font-size:16px;font-weight:bold;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{overflow-wrap:break-word;vertical-align:middle;word-break: break-all;
    word-break: break-word;}
.dataTables_paginate a{    padding: 6px 9px !important;
    background: #e6e6e6 !important;
    border-color: #e6e6e6 !important;color:#2a3f54;}
	.dataTables_paginate a:hover,.dataTables_paginate a:active{ background: #c9c9c9 !important;
    border-color: #c9c9c9 !important;}
.close-link{display:none !important;}

/***********/
.no-padding{padding:0}
.padding-left-0{padding-left:0;}
.padding-right-0{padding-right:0;}
.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin:0px 0 46px  0 ;
	padding:0;
}

.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
	z-index:0
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity: 100);
    opacity: 1;
    color: #666;cursor:auto;
}

.wizard_horizontal ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 2px;
    background: #eee;
    top: 10px;
    width: 100%;
    z-index: 4;
    left: 0;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
    background: #eee;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100px;
    display: block;
  margin: 0 auto 5px;

    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
}
.wizard_horizontal ul.wizard_steps li:first-child a .step_no{margin:0;}
.wizard_horizontal ul.wizard_steps li:last-child a .step_no{margin:0;right:0%;position:absolute;} 
.wizard_horizontal ul.wizard_steps li:nth-of-type(2) a .step_no{margin:0;left:35%;position:absolute;}
.wizard_horizontal ul.wizard_steps li:nth-of-type(3) a .step_no{margin:0;left:65%;position:absolute;} 
.wizard_horizontal ul.wizard_steps li a.selected:before,


.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #eee;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
    left: 0%;
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
    
    width: 100%;
    left: auto;
	right: 0%;
	
}

.actionBar .btn-default{float:left;}
.actionBar .btn-success{float:right;}
select:invalid {

    color: #767676 !important;

}
#selectedrooms3{padding-left:0px !important;}
.disableded {
    opacity: 0.3;
    pointer-events: none;
}
.form_wizard .head{font-weight:500;margin-bottom:20px;}
/**-------**/
.form-control {
    border-radius: 0;
    line-height: 30px;
    width: 100%;
    height: auto;
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #000;}
	.borderrd{border-bottom: 1px solid #f4f5f7;padding-bottom:20px;}
	.sechead{font-size:16px !important;font-weight:bold !important;}
	#romfndnot.notfound{    color: #ff3b2f;
    border-bottom: 1px solid #f4f5f7;
    text-align: center;
    float: left;
    width: 100%;
    padding-bottom: 40px;margin-top:20px;margin-bottom:30px;}
	.notfound .head{font-weight:bold;}
	.notfound .txt{font-weight:normal;}
	.bgclear {    background-image: none !important;}
	
	.btn {
    padding: 10px 18px;
    border-radius: 3px;
	font-size:16px;
}
.padding40{padding-top:40px;}
.actionBar{    border-top: 1px solid #E6E9ED;}
.totalinfo, .total{font-weight:bold !important;}
.searcharea{border-bottom: 1px solid #E6E9ED;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 15px;
    float: left;}
	.allinput{margin-bottom:12px;}
	
	.switchery{    box-shadow: rgba(208, 2, 86, 1) 0px 0px 0px 16px inset !important;
    border-color: rgba(208, 2, 86, 1) !important;
    background-color: rgba(208, 2, 86, 1) !important;}
/*******************Calendar Changes**********************************/
/*.dysbrd , .avbltgrd .divbrd {
   border-style: solid;
    border-width: 1px;
    height: 50px;
    background: #ffffff;
    width: 13.2%;
    padding: 0 !important;
    box-sizing: content-box;
}
 .dysbrd{   border-style: none !important;
    border-width: 0 !important;
    height: 35px !important;
    padding: 0;
    margin-top: 20px;
}
.rsvdrom{      background: #d9544f !important;
    color: #fff !important;
    padding: 10px !important;
    height: 0px !important;
    border: 0px !important;
    box-sizing: content-box;
    line-height: normal; }
*/
.error{color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;}
	a.notification_close .fa-close{color:#fff;}
.divbrd {
        width:14%;
    padding: 0 !important;background:transparent !important;border :1px solid #ececec !important;height:40px !important; }
	.dysbrd{width: 14.2222222%;border:0 !important;padding:0 !important;font-size:16px;height:30px !important;}
	.vcntrm{box-sizing: content-box; padding: 8px !important;}
	.rsvdrom{background: #d9544f !important;
    color: #ffffff;
    box-sizing: content-box;
    border: 0 !important;    height: 23px !important;
    padding: 8px !important;}
	.rsvdrom label{font-weight:normal;text-align:center;} 	
	.rsvdrom:hover{background:#b3423f !important;}
	.calroominfo{    margin-top: 40px;font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;}
	.calendartop{margin-top:20px;}
.calroomsname{color:#000000 !important;}
.calroomsno{color:#000000 !important;}
.bor0	{border:0 !important}
.leftarrow {text-align:left;}
.rightarrow {text-align:right;}
.leftarrow .arrowpre{background:url(../images/hms/rightarrow.png) no-repeat center center;padding:10px;text-align:right;}
.rightarrow .arrowfor{background:url(../images/hms/leftarrow.png) no-repeat center center;padding:10px;text-align:left;}
.leftarrow .arrowpre:hover{background:url(../images/hms/rightarrow_active.png) no-repeat center center;padding:10px;text-align:right;}
.rightarrow .arrowfor:hover{background:url(../images/hms/leftarrow_active.png) no-repeat center center;padding:10px;text-align:left;}

.arrowpre{    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;}
.arrowpre .yeardate{text-align:center;}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover{    background-color: #204d74;
    border-color: #204d74;}
	.filters{border-bottom: 1px solid #E6E9ED;
    padding-bottom: 17px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    margin-top: 5px;}
#rsvTable_filter, #roomsTbl_filter, #roomCetgTbl_filter{margin-top: -23px;
    margin-bottom: 21px;
    margin-right: 70px;}
	#ratestble_filter{margin-top: -23px;
    margin-bottom: 21px;padding-top:30px;}
	 #example_filter{margin-top: -23px;
    margin-bottom: 21px;}
	#ratestble_length{padding-top:30px;}
	.dataTables_wrapper {position:relative;}
	#ratestble_paginate{margin-top: -28px;
    padding-bottom: 10px;
    /* float: right; */
    width: 50%;
    margin-bottom: 16px;}
	.dataTables_wrapper .DTTT_container{position:absolute;right:-9px;}
	button.DTTT_button, div.DTTT_button, a.DTTT_button{padding:5px 17px;}
	table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:none !important;}
	.dataTable tr.headings th{background-color:#2a3f54;border-right:1px solid #fff;color:#fff;}
	table.dataTable thead .sorting_asc {
    background-repeat:no-repeat !important;
}
/*table.dataTable thead .sorting{background-image:none;}*/
/*table.dataTable thead .sorting_desc{background:url('../images/sort_both.png') no-repeat center right  !important ;background-color:#2a3f54 !important;}*/
table.dataTable.hover tbody tr.show:hover, table.dataTable.display tbody tr.show:hover {backgroun-color:#ffffff !important;}
.trans .control-label {font-weight:normal;width:100%;}
.trans .form-group input{width:100%;}
.trans .form-group input[disabled]{margin-bottom:10px;    border-radius: 0;
    line-height: 30px;
    width: 100%;
    height: auto;
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #000;padding:6px 12px;}
.reservation{display:block;padding:0 15px;}
table.dataTable.no-footer{border-bottom:1px solid #E6E9ED !important;}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #E6E9ED;
}

/*@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) {*/
	
/*@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {*/
/* Styles */
@media screen and (max-aspect-ratio: 13/9), 
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	#rsvTable tr th:nth-child(1), #rsvTable tr td:nth-child(1){width:5px !important;padding:10px 1px}
#enqtble tr td img{width:40px;height:40px;}
table.jambo_table thead {
    font-size: 12px;
    font-weight: normal;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px;text-align:center;}
table tr td	.btn-primary, table tr td .btn-primary{font-size:10px;padding:4px;}
#roomsTbl tr th:nth-child(2), #roomsTbl tr td:nth-child(2), #roomsTbl tr th:nth-child(3), #roomsTbl tr td:nth-child(3), #roomsTbl tr th:nth-child(4), #roomsTbl tr td:nth-child(4),#rsvTable  tr th:nth-child(2), #rsvTable  tr td:nth-child(2), #rsvTable  tr th:nth-child(4), #rsvTable  tr td:nth-child(4), #rsvTable  tr th:nth-child(6), #rsvTable  tr td:nth-child(6), #rsvTable  tr th:nth-child(7), #rsvTable  tr td:nth-child(7), .enquiresviews #enqtble tr th:nth-child(3), .enquiresviews #enqtble tr td:nth-child(3), .enquiresviews #enqtble tr th:nth-child(4), .enquiresviews #enqtble tr td:nth-child(4),
.enquiresviews 	 #enqtble  tr  th:nth-child(3), .enquiresviews 	 #enqtble  tr  th:nth-child(4), .enquiresviews 	 #enqtble  tr  th:nth-child(5),
.enquiresviews 	 #enqtble  tr  td:nth-child(3), .enquiresviews 	 #enqtble  tr  td:nth-child(4), .enquiresviews 	 #enqtble  tr  td:nth-child(5){display:none;}
#rsvTable{width:100% !important;}
#enqtble tr td .btn-primary.grey {margin-top: -1px !important;}
#enqtble tr th:nth-child(6), #enqtble tr td:nth-child(6){width:45px !important;}
#enqtble tr th:nth-child(2), #enqtble tr td:nth-child(2){width:100px !important;}
#roomsTbl tr th:nth-child(6), #roomsTbl  tr td:nth-child(6){width:40px !important;}
.sorting, .sorting_asc{background-image:none !important;}

}


@media only screen and (max-width: 900px) and (min-width: 320px) {	
.table-striped tr td .btn-primary {
    margin-bottom: 5px;
}

.right_col{height:auto !important;width:auto !important;}
body,.container{width:auto !important; height:100% !important;overflow-x:auto !important}
}
@media only screen 
    and (min-device-width: 320px)
	and (max-device-width: 768px) 
    
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) { 
    #roomsTbl tr th:nth-child(2), #roomsTbl tr td:nth-child(2), #roomsTbl tr th:nth-child(3), #roomsTbl tr td:nth-child(3), #roomsTbl tr th:nth-child(4), #roomsTbl tr td:nth-child(4),#rsvTable  tr th:nth-child(2), #rsvTable  tr td:nth-child(2), #rsvTable  tr th:nth-child(4), #rsvTable  tr td:nth-child(4), #rsvTable  tr th:nth-child(6), #rsvTable  tr td:nth-child(6), #rsvTable  tr th:nth-child(7), #rsvTable  tr td:nth-child(7), .enquiresviews #enqtble tr th:nth-child(3), .enquiresviews #enqtble tr td:nth-child(3), .enquiresviews #enqtble tr th:nth-child(4), .enquiresviews #enqtble tr td:nth-child(4),
.enquiresviews 	 #enqtble  tr  th:nth-child(3), .enquiresviews 	 #enqtble  tr  th:nth-child(4), .enquiresviews 	 #enqtble  tr  th:nth-child(5),
.enquiresviews 	 #enqtble  tr  td:nth-child(3), .enquiresviews 	 #enqtble  tr  td:nth-child(4), .enquiresviews 	 #enqtble  tr  td:nth-child(5){display:none;}
}

/* iPhone XR */
@media only screen 
    and (min-device-width: 320px)
	and (max-device-width: 768px)  
    
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: landscape) { 
    #roomsTbl tr th:nth-child(2), #roomsTbl tr td:nth-child(2), #roomsTbl tr th:nth-child(3), #roomsTbl tr td:nth-child(3), #roomsTbl tr th:nth-child(4), #roomsTbl tr td:nth-child(4),#rsvTable  tr th:nth-child(2), #rsvTable  tr td:nth-child(2), #rsvTable  tr th:nth-child(4), #rsvTable  tr td:nth-child(4), #rsvTable  tr th:nth-child(6), #rsvTable  tr td:nth-child(6), #rsvTable  tr th:nth-child(7), #rsvTable  tr td:nth-child(7), .enquiresviews #enqtble tr th:nth-child(3), .enquiresviews #enqtble tr td:nth-child(3), .enquiresviews #enqtble tr th:nth-child(4), .enquiresviews #enqtble tr td:nth-child(4),
.enquiresviews 	 #enqtble  tr  th:nth-child(3), .enquiresviews 	 #enqtble  tr  th:nth-child(4), .enquiresviews 	 #enqtble  tr  th:nth-child(5),
.enquiresviews 	 #enqtble  tr  td:nth-child(3), .enquiresviews 	 #enqtble  tr  td:nth-child(4), .enquiresviews 	 #enqtble  tr  td:nth-child(5){display:none;}
}
@media only screen and (max-width: 700px) and (min-width: 320px) {	

#roomsTbl tr th:nth-child(2), #roomsTbl tr td:nth-child(2), #roomsTbl tr th:nth-child(3), #roomsTbl tr td:nth-child(3), #roomsTbl tr th:nth-child(4), #roomsTbl tr td:nth-child(4),#rsvTable  tr th:nth-child(2), #rsvTable  tr td:nth-child(2), #rsvTable  tr th:nth-child(4), #rsvTable  tr td:nth-child(4), #rsvTable  tr th:nth-child(6), #rsvTable  tr td:nth-child(6), #rsvTable  tr th:nth-child(7), #rsvTable  tr td:nth-child(7), .enquiresviews #enqtble tr th:nth-child(3), .enquiresviews #enqtble tr td:nth-child(3), .enquiresviews #enqtble tr th:nth-child(4), .enquiresviews #enqtble tr td:nth-child(4),
.enquiresviews 	 #enqtble  tr  th:nth-child(3), .enquiresviews 	 #enqtble  tr  th:nth-child(4), .enquiresviews 	 #enqtble  tr  th:nth-child(5),
.enquiresviews 	 #enqtble  tr  td:nth-child(3), .enquiresviews 	 #enqtble  tr  td:nth-child(4), .enquiresviews 	 #enqtble  tr  td:nth-child(5){display:none;}


.modal-content div.col-xs-12, #userCreationForm div.col-xs-12{padding-left:0px !important;}
/*.modal-content div.col-xs-12 .dataTables_wrapper{padding-left:10px !important;}*/
html {
    overflow-x: hidden !important; }
.dataTables_wrapper {

    position: inherit !important;
    width: 100% !important;

}
.ui-datepicker{width:auto !important;}
.modal-dialog{width:98% !important;margin:1%;}
#rsvTable tr th:first-child, #rsvTable tr td:first-child{width:5px !important;}
#ratestble_paginate{    margin-top: 10px;
    padding-bottom: 10px;
    float: right;
    width: 50%;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
}
body{font-size:12px;}.dataTables_length label{font-size:12px;}
.pl0{padding-left:0 !important;}
.dataTables_paginate{text-align: center;
width: 100%;margin-top:10px;}
.main_container{background:#2A3F54}
body{background:#ffffff}
.table-striped tr td .btn-primary{margin-bottom:5px;}
.table-striped tr td .grey{margin-top:5px !important;}
#enqtble_filter {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.dataTables_length {
    width: 100%;
    float: left;
    text-align: center;
}
.updatereserv{width:100%;text-align:center;margin-top:20px;}
.login .container{padding:0;}
.login .page-forgot .form-container, .login .page-signin .form-container, .login .page-signup .form-container{padding:0;}
.loginp h1 {
    border-bottom: 1px solid #ebebeb;
    line-height: 50px;
    margin-top: 0px;
    color: #1C7492;
    font-size: 38px;
    padding: 13px 0;
}
#rsvTable_filter, #roomsTbl_filter, #roomCetgTbl_filter {

    margin-top: -58px;
}
.dataTables_wrapper #rsvTable_filter, .dataTables_wrapper .dataTables_filter{width: 100% !important;
margin: 0 0 10px 0px !important;text-align:center;}
.dataTable button{margin-bottom:5px;}
}

.actionBar { display: none; }

.actionBar.actions { display: block !important;  }



