/***********************************************Date Picker UI*************************************/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{    font-family: 'Helvetica' !important;
    font-size: 16px;
    padding: 5px !important;
    line-height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 0px !important;
    height: 41px;background:#fff !important;border:1px solid #eeeeee ;}
	.ui-state-default{border:1px solid #eeeeee !important;}
	.ui-datepicker-buttonpane{display:none;}
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#eee !important;border:1px solid #eee !important;color:#000 !important;}
	.ui-state-default.ui-state-active{background:#4AB2CB !important;}
	.ui-datepicker td {
    border: 0;
    padding: 1px !important;}
	.ui-widget-content{padding:20px !important;border:1px solid #eee !important;border-radius:2px !important;}
	.ui-state-default.ui-state-hover{border :1px solid #4ab2cb !important}
	.ui-widget-header .ui-datepicker-prev{background:url(../images/hms/rightarrow.png) no-repeat center center !important;background-color:transparent !important;}
	
	.ui-widget-header .ui-datepicker-next{background:url(../images/hms/leftarrow.png) no-repeat center center !important;background-color:transparent !important;}
	.ui-widget-header .ui-datepicker-prev:hover, .ui-datepicker-prev-hover{background:url(../images/hms/rightarrow_active.png) no-repeat center center !important;border:0px !important;}
	.ui-widget-header .ui-datepicker-next:hover, .ui-datepicker-next-hover{background:url(../images/hms/leftarrow_active.png) no-repeat center center !important;border:0px !important}
	/*, {background-color:transparent !important;border:0px !important}*/
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{top:1px !important;}
	.ui-datepicker .ui-datepicker-prev {
    left: 1px !important;
}
	.ui-datepicker .ui-datepicker-next{right:1px !important;}
	ui-datepicker .ui-datepicker-pre{left:1px !important;}
	.ui-datepicker .ui-datepicker-title{margin-top:-4px !important;}
	.ui-state-default.ui-state-hover{background:#eeeeee !important;border: 1px solid #eee !important;}