

.addReadMore.showlesscontent .SecSec,
    .addReadMore.showlesscontent .readLess {
        display: none;
    }
 
    .addReadMore.showmorecontent .readMore {
        display: none;
    }
 .addReadMore .readMore label,
    .addReadMore .readLess label {font-weight:normal;cursor:pointer;}
    .addReadMore .readMore,
    .addReadMore .readLess {
        font-weight: normal;
        margin-left: -1px;
        color: #d00256;
        cursor: pointer;
    }
 .addReadMore .readMore:hover,
    .addReadMore .readLess:hover {
        font-weight: normal;
        margin-left:-1px;
        color: #a00041;
        cursor: pointer;
    }
    .addReadMoreWrapTxt.showmorecontent .SecSec,
    .addReadMoreWrapTxt.showmorecontent .readLess {
        display: block;
    }