/******HMS Style***************/
.header{background:#000000;padding:10px 85px;font-family:'Raleway', 'Helvetica'}
.header .logo{max-width:398px;}
.m-auto{margin:0 auto;float:none;min-height:350px;}.reservation{background:#fff;}
.no-padding{padding:0}
.padding-left-0{padding-left:0;}
.padding-right-0{padding-right:0;}
.txt-right{text-align:right}
.header .links{margin-top:50px;}
.footer label{font-weight:normal;}
.footer .fweight, .header a.linkback{font-weight:600;}

.maincont{ position: relative;
  min-height: 100vh;}
.cont{padding-bottom: 68px;}
.footer{bottom:0;font-size:12px;color:#fff;width:100%;position:absolute;bottom:0;height:68px;padding:25px 85px 20px;font-family:'Raleway', 'Helvetica';z-index:33;}
.w100{width:100%;}
.wizard_content{margin-bottom:31px;}
.mr-left-50{margin-left:50px;}
.btn-success, .btn-primary{background-color:#d00256;border-color:#d00256;}
.wizard_horizontal ul.wizard_steps{margin-top:58px;margin-bottom:30px;}
label, p{}
.wizard_content h1{margin-bottom:36px;}

.header .btn{font-size:16px;}
.wizard_content .btn{margin-top:30px;}
.ui-datepicker{z-index:999;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #a00041;
    border-color: #a00041;
    color: #FFFFFF;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
	background:#fff !important;
}

/**************************Rooms Search Results UI *********************/
#roomsuidiv{margin-top:-15px;}
h2.result{text-align:center;border-bottom:1px solid #ebebeb;padding:40px 0 40px;}
.pr-0{padding-right:0px !important;}
.imgscont{margin-top:80px;}
.imgscont .chevron-right, .imgscont .carousel-control{display:none !important;}
.carousel-indicators li{background:#a7a7a9;}
.roominfo h3{padding-bottom:0;margin-bottom:0;margin-top:20px;font-weight:500;}
.roominfo .noofbeds{border-bottom:1px solid #ebebeb;margin-bottom: 15px;padding-bottom: 15px;}
.timings{padding-bottom: 15px;    width: 100%;    float: left;    border-bottom: 1px solid #ebebeb;}
.timings .datetime{font-size:14px;}
.checkin h3, .checkout h3{margin-bottom:2px;}
.description p{margin-top:15px;margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #ebebeb;    width: 100%;    float: left;}
.roomrates{width: 100%;float: left;}
.roomrates p{margin-bottom:-10px;font-weight:500;}.roomrates h3{float:left;font-weight:bold;}.roomrates span{font-size: 15px;margin-top: 12px;display: inline-block;margin-left: 4px;}
.selele { font-color:#767676;}

.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;margin-left:6px;border:0px;}
/***************************Reserving Step**************************/
.tabbed_notifications h2{height:40px;}
.reservationinfo, .infocont{background:#fcfcfc;border:1px solid #f0f0f0;padding:20px 30px;width:100%;float:left;color:#767676;}
.updatereservation{width: 100%;border-bottom: 1px solid #ebebeb;margin: 15px 0;float:left;}
.updatereservation .btn, .updatereservation .btn:active, .updatereservation .btn-success:hover, .updatereservation .btn-success:focus, .updatereservation .btn-success:active, .updatereservation .btn-success{background:transparent !important;box-shadow: none !important;}
.updatereservation .btn:hover, .updatereservation .btn:focus, .updatereservation .btn:active,
.updatereservation .btn-success:hover, .updatereservation .btn-success:focus, .updatereservation .btn-success:active{color:#a00041}
.btn:active, .updatereservation .btn-success:hover, .updatereservation .btn-success:focus{}
.reservationinfo.searchresult .roomrates{margin-top: 18px;}
.infocont .info{margin-top:13px;font-size:15px;color:#767676;}
.infocont .info label{display:inline-block;padding-top:0px;font-size:17px;font-weight:500;}
.infocont h3{border-bottom:1px solid #f0f0f0;margin-bottom:15px;padding-bottom:15px;color:#767676;}
.reservedfour .btn{margin-top:15px;}
.total{font-size:20px;font-weight:500;}
.total .lbl{font-size:16px;font-weight:normal;display:block;}

.btn.payment{color:#ff2968 !important;background:#000 !important;}
						.confmsg{margin-top:15px;float:left;display:block;}
						.confmsg p{margin-bottom:0px;}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
	    background-color: #d00256;
    border-color: #d00256;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{height:230px;}

.range_inputs .applyBtn{width: 60%;
    float: right;}
	
	
	.btn{padding:10px 12px;}
	
	p{font-size:16px;}
	
	
	/****************************************Common Fonts***************************/
	.daterangepicker td, .daterangepicker th{font-size:16px;font-weight:normal;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;}
	.range_inputs .applyBtn, .range_inputs .cancelBtn{padding: 6px 18px;
    font-size: 12px;
    border-radius: 4px;    margin-left: 12px;}
	.daterangepicker select.monthselect{width:64%;}
	.table-condensed thead tr:first-child th{background:none !important;}
	#chckinoterr{    color: #ff3b30;font-size:15px;font-weight:normal;}
	.daterangepicker .ranges{margin:0;}
	.range_inputs{border-top: 1px solid #ebebeb;padding-top:10px;}
	.range_inputs .cancelBtn{padding: 6px 23px;
    float: left;
    margin-right: 11px;}
	.btn{font-size:22px;}
	.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: transparent;
    border: 0;
    font-weight: normal;
    font-family: "Helvetica";
    font-size: 20px;
}.ui-datepicker td{padding:0 !improtant;}
/*#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-widget-content .ui-state-active, #ui-datepicker-div .ui-widget-header .ui-state-active{background:#4ab2cb !important;color:#fff !important;}*/
#ui-datepicker-div .ui-state-default{padding:6px !important;}
#ui-datepicker-div .ui-datepicker-today .ui-state-default.ui-state-highlight{background: #eee !important;color:#000000 !important;}
#ui-datepicker-div .ui-state-default.ui-state-active, #ui-datepicker-div .ui-state-default.ui-state-highlight.ui-state-hover{}

#ui-datepicker-div .ui-state-default.ui-state-hover, #ui-datepicker-div .ui-state-default.ui-state-active:hover, #ui-datepicker-div .ui-state-default.ui-state-active:active{background: #d00256 !important;color: #fff !important;}

#ui-datepicker-div .ui-datepicker-current-day .ui-state-default.ui-state-active{    background: #d00256 !important;color:#fff !important;}
.form-horizontal .control-label{text-align:left;padding-left:0;font-size:16px;font-weight:normal;}

.updatereservation input[type=button]{cursor:pointer;background:none;border:none;color: #d00256;font-size: 18px;padding: 0;   padding-bottom: 15px;text-align: left;margin-top:8px;}

.ui-datepicker th{    font-weight: normal !important;
    border: 0;
    font-size: 16px;
    font-family: 'Helvetica';}
	.searchrow{border-bottom:1px solid #ebebeb;display:inline-block;padding-bottom:50px;width:100%;}
a:focus, a:hover{color:#a00041 ;text-decoration:none;}
.puplic_wiz .actionBar .btn-success {display:none !important;}
select:invalid { color: #767676 !important; }
textarea.form-control{min-height:100px !important;}
.carousel-indicators li{margin:0 !important;margin-left:5px !important;}
.custom-notifications{}
.public_head .navbar{display:none ;}
.linkbutton{position: absolute;
    top:15px;
    background: transparent;
    border: none;
    right: 20px;
    font-size: 36px;
    color: #d00256;}
.linkbutton:hover, .linkbutton:active	{color:#d00256;}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover{background:#feb4d0 !important;}
	.public_head .navbar-nav li{list-style:none;}
.public_head .navbar-nav li .links_nav{text-align:center;padding-top:10px;font-size:13px;}
.public_head  .navbar{min-height:0;margin-bottom:0;} 
.public_head .navbar-collapse{    box-shadow: inset 0 1px 0 rgba(255,255,255,1)}

ul.parsley-errors-list{position:relative ;left:0;right:0;top:0;text-align:left;float:left !important;}
#romfndnot{margin-top:40px;text-align:center;color:#ff3b32;}

#romfndnot .head, #romfndnot .text{text-align:center;font-weight:bold;font-size:22px;}

#romfndnot .text{font-size:14px;font-weight:normal;}
.seleroomcoststay{font-size: 15px;
    margin-top: 12px;
    display: inline-block;
    margin-left: 4px;}
.seleroomcost{display:inline;font-size:20px;font-weight:bold;}
.header .logo{width:192px;height:120px;}
#calselect:hover #checkin, .calselect:active #checkin{background:#fff url("../images/hms/droparrow_active.png") no-repeat 96% center;}
.daterangepicker_start_input, .daterangepicker_end_input{display:none;}
#checkin{background: #fff url(../images/hms/droparrow.png) no-repeat 96% center;
    cursor: pointer;
    padding: 8px 12px;
   border:1px solid #ebebeb;
    float: left !important;
    width: 100% !important;
    float: left;
    display: inline-table !important;;
	}
	#checkin span{padding-left: 11px;}
.caret{
    border: 0px solid #333;
    width: 0px;
    height: 0px;
    /* margin-right: 0px; */
    /* margin-top: 3px; */
    position: absolute;
    right: 22px;
    top: 13px;}
	.ranges{width: 100% !important;
    float: left;
    clear: both;}
	.videos{width:100%;height:223px;}
@media only screen and (max-width: 800px) and (min-width: 320px) {
.cright, .fweight{text-align:center;}
.header {
    padding: 10px 30px;
   
}
 .fweight{font-size:13px;}
}
@media only screen and (max-width: 900px) and (min-width: 320px) {
	.public_head .navbar{display:block ;}
.public_head .links{display:none}	
.header .logo{width:134px;height:84px;}
.checkin h3, .checkout h3 {
       width:100px !important;
    min-height: 20px !important;
	max-height: 20px !important;
    height:20px !important;
	overflow: hidden !important;
	  
}
}
@media only screen and (max-width: 600px) and (min-width: 320px) {	
ul.parsley-errors-list{position:relative ;left:0;right:0;top:0;text-align:center;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{height:auto;}

.pl0{padding-left:0 !important;}
.header .logo{max-width:inherit;}

.p-0-img{padding:0;margin-top:20px;}
.ui-datepicker th{font-size: 12px;}
.updatereservation input[type=button]{font-size: 14px;}
.form-group {

    margin-bottom: 0px;

}
	
.form-horizontal .control-label{font-size:12px;margin-bottom:0px;}
h1 {
    font-size: 24px;
    font-weight: 400;
}


h2 {
    font-size: 20px;
    font-weight: 400;
}
h3 {
    font-size: 18px;
    font-weight: 400;
}
p{font-size:15px;}
.btn{font-size:18px;}
.form-control{font-size:14px !important;padding:5px 4px;}
select.form-control{background:#fff url("../images/hms/droparrow_s.png") no-repeat 96% center;}
select.form-control:focus{background:#fff url("../images/hms/droparrow_active_s.png") no-repeat 96% center;}

}
@media only screen and (max-width: 1200px) and (min-width: 1000px){	
/*.header .links{margin-top:45px;}*/
]
@media only screen and (max-width: 1000px) and (min-width: 700px) {	
/*.header .links{margin-top:30px;}*/
]
@media only screen and (max-width: 700px) and (min-width: 600px) {
	/*.header .links{margin-top:25px;}*/
}